@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,200&family=Open+Sans:wght@400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, "sans-serif";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(37, 37, 37);
}
body header {
  width: 100%;
  display: flex;
  justify-content: center;
}
body header form.search-section {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
body header form.search-section input.search-input {
  height: 2rem;
  width: 70vw;
  border-radius: 3rem;
  border: 1px solid rgb(0, 52, 117);
  background-color: whitesmoke;
  padding-left: 0.8rem;
}
body header form.search-section input.search-input::-moz-placeholder {
  padding-left: 0.8rem;
  font-size: 1rem;
}
body header form.search-section input.search-input::placeholder {
  padding-left: 0.8rem;
  font-size: 1rem;
}
body header form.search-section button.search-btn {
  width: 17vw;
  border-radius: 3rem;
  border: 1px rgb(0, 52, 117) solid;
  color: rgb(0, 52, 117);
  font-size: 1rem;
  background-color: whitesmoke;
}
body header form.search-section button.search-btn:hover {
  background-color: rgb(0, 52, 117);
  color: whitesmoke;
}
body main {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-image: url(../images/SF.jpg);
  background-size: cover;
}
body main div.current-weather {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.55);
  padding: 10px;
  border-radius: 10px;
}
body main div.current-weather div.location h1.city {
  font-size: 1.7rem;
}
body main div.current-weather div.location div.country-div {
  display: flex;
  align-items: center;
}
body main div.current-weather div.location div.country-div p.country {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  font-style: italic;
  margin-left: 3px;
}
body main div.current-weather div.temperature-section h2.current-temperature {
  font-size: 2.5rem;
}
body main div.current-weather div.temperature-section div.day-night {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main div.future-weather {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  overflow: scroll;
  background-color: rgba(245, 245, 245, 0.55);
  padding: 10px;
  border-radius: 10px;
}
body main div.future-weather div {
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main div.future-weather div h3.day {
  line-height: 1rem;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */